In [62]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Plotting parameters
%matplotlib inline
plt.rcParams['figure.figsize'] = (12,8)

In [63]:
climacell =  pd.read_csv('climacell_data_formodel.csv')

In [65]:
df = pd.read_csv('weather_data_from_plant.csv')

In [67]:
df

                      date_time  ambient_temp  wind_speed  irradiance
0      2020-08-21T06:26:01.000Z     28.185780     0.28164    0.000000
1      2020-08-21T06:27:01.000Z     28.185780     0.28164    0.000000
2      2020-08-21T06:28:01.000Z     28.185780     0.28164    0.000000
3      2020-08-21T06:29:01.000Z     28.185780     0.28164    0.000000
4      2020-08-21T06:30:01.000Z     28.170719     0.28164    3.442247
...                         ...           ...         ...         ...
79907  2020-10-20T12:57:01.000Z     36.253342     0.28164  749.843811
79908  2020-10-20T12:58:01.000Z     36.238201     1.88136  753.283386
79909  2020-10-20T12:59:01.000Z     36.088779     0.28164  753.283386
79910  2020-10-20T13:00:01.000Z     35.983109     0.28164  753.283386
79911  2020-10-20T13:01:01.000Z     35.952770     0.28164  749.843811

[79912 rows x 4 columns]

In [5]:
df2

                      date_time  ambient_temp  wind_speed  irradiance
0      2020-08-21T06:26:01.000Z     28.185780     0.28164    0.000000
1      2020-08-21T06:27:01.000Z     28.185780     0.28164    0.000000
2      2020-08-21T06:28:01.000Z     28.185780     0.28164    0.000000
3      2020-08-21T06:29:01.000Z     28.185780     0.28164    0.000000
4      2020-08-21T06:30:01.000Z     28.170719     0.28164    3.442247
...                         ...           ...         ...         ...
79907  2020-10-20T12:57:01.000Z     36.253342     0.28164  749.843811
79908  2020-10-20T12:58:01.000Z     36.238201     1.88136  753.283386
79909  2020-10-20T12:59:01.000Z     36.088779     0.28164  753.283386
79910  2020-10-20T13:00:01.000Z     35.983109     0.28164  753.283386
79911  2020-10-20T13:01:01.000Z     35.952770     0.28164  749.843811

[79912 rows x 4 columns]

In [68]:
climacell

,date_time,date,time,irradiance,ambient_temp,wind_speed
0,2020-08-20 06:05:00+05:30,20-08-2020,06:05:00,0,28.58,6.33
1,2020-08-20 06:10:00+05:30,20-08-2020,06:10:00,0,28.57,6.26
2,2020-08-20 06:15:00+05:30,20-08-2020,06:15:00,0,28.57,6.18
3,2020-08-20 06:20:00+05:30,20-08-2020,06:20:00,0,28.56,6.11
4,2020-08-20 06:25:00+05:30,20-08-2020,06:25:00,0,28.56,6.03
...,...,...,...,...,...,...
2947,2020-10-20 11:40:00+05:30,20-10-2020,11:40:00,322,30.24,3.10
2948,2020-10-20 11:45:00+05:30,20-10-2020,11:45:00,322,30.25,3.14
2949,2020-10-20 11:50:00+05:30,20-10-2020,11:50:00,322,30.26,3.19
2950,2020-10-20 11:55:00+05:30,20-10-2020,11:55:00,322,30.26,3.24
2951,2020-10-20 12:00:00+05:30,20-10-2020,12:00:00,322,30.27,3.28

In [8]:
df2.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79912 entries, 0 to 79911
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date_time     79912 non-null  object
 1   ambient_temp  79912 non-null  float64
 2   wind_speed    79912 non-null  float64
 3   irradiance    79912 non-null  float64
dtypes: float64(3), object(1)
memory usage: 2.4+ MB

In [9]:
df1.head()

,date_time,date,time,irradiance,ambient_temp,wind_speed
0,2020-08-20 06:05:00+05:30,20-08-2020,06:05:00,0,28.58,6.33
1,2020-08-20 06:10:00+05:30,20-08-2020,06:10:00,0,28.57,6.26
2,2020-08-20 06:15:00+05:30,20-08-2020,06:15:00,0,28.57,6.18
3,2020-08-20 06:20:00+05:30,20-08-2020,06:20:00,0,28.56,6.11
4,2020-08-20 06:25:00+05:30,20-08-2020,06:25:00,0,28.56,6.03

In [40]:
df2.resample('3T')

TypeError: Only valid with DatetimeIndex, TimedeltaIndex or PeriodIndex, but got an instance of 'RangeIndex'

In [69]:
df

                      date_time  ambient_temp  wind_speed  irradiance
0      2020-08-21T06:26:01.000Z     28.185780     0.28164    0.000000
1      2020-08-21T06:27:01.000Z     28.185780     0.28164    0.000000
2      2020-08-21T06:28:01.000Z     28.185780     0.28164    0.000000
3      2020-08-21T06:29:01.000Z     28.185780     0.28164    0.000000
4      2020-08-21T06:30:01.000Z     28.170719     0.28164    3.442247
...                         ...           ...         ...         ...
79907  2020-10-20T12:57:01.000Z     36.253342     0.28164  749.843811
79908  2020-10-20T12:58:01.000Z     36.238201     1.88136  753.283386
79909  2020-10-20T12:59:01.000Z     36.088779     0.28164  753.283386
79910  2020-10-20T13:00:01.000Z     35.983109     0.28164  753.283386
79911  2020-10-20T13:01:01.000Z     35.952770     0.28164  749.843811

[79912 rows x 4 columns]

In [76]:
df['date_time'] = pd.to_datetime(df['date_time']).dt.tz_convert('Asia/Kolkata')

In [77]:
df

                      date_time  ambient_temp  wind_speed  irradiance
0     2020-08-21 11:56:01+05:30     28.185780     0.28164    0.000000
1     2020-08-21 11:57:01+05:30     28.185780     0.28164    0.000000
2     2020-08-21 11:58:01+05:30     28.185780     0.28164    0.000000
3     2020-08-21 11:59:01+05:30     28.185780     0.28164    0.000000
4     2020-08-21 12:00:01+05:30     28.170719     0.28164    3.442247
...                         ...           ...         ...         ...
79907 2020-10-20 18:27:01+05:30     36.253342     0.28164  749.843811
79908 2020-10-20 18:28:01+05:30     36.238201     1.88136  753.283386
79909 2020-10-20 18:29:01+05:30     36.088779     0.28164  753.283386
79910 2020-10-20 18:30:01+05:30     35.983109     0.28164  753.283386
79911 2020-10-20 18:31:01+05:30     35.952770     0.28164  749.843811

[79912 rows x 4 columns]

### Sample the dataset to contain one hour data 

12:00 am 13:00am , etc

In [79]:
df['date_time'].min(),df['date_time'].max()

(Timestamp('2020-08-21 11:56:01+0530', tz='Asia/Kolkata'),
 Timestamp('2020-10-20 18:31:01+0530', tz='Asia/Kolkata'))

In [80]:
df['date_time'].max() - df['date_time'].min()

Timedelta('60 days 06:35:00')

In [82]:
df = df.pivot(index="date_time",columns)

TypeError: pivot() missing 1 required argument: 'columns'